/*----------------------------------------*/
/*  About CSS START
/*----------------------------------------*/
.about {
    .line-container {
        position: relative;
        height: 1px;

        .dashed-line {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, transparent 50%, $accent 50%);
            background-size: 8px 100%;
        }
    }

    .member-block {
        position: relative;
        padding: 1.719vw 2.5vw 1.719vw 0;
        border-right: 1px dashed $accent;
        @include media-query(575px){
            border: 0;
            padding: 24px;
        }
    }
    .block{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: clamp(12px, 1.25vw, 32px);
        padding: 1.719vw 0 1.719vw 2.5vw;
        border-radius: 10px;
        @include media-query(768px){
            gap: 2px;
        }
        @include media-query(575px){
            justify-content: center;
        }
        .icon{
            background: $accent-light;
            border-radius: 50%;
            padding: 12px;
            svg{
                width: clamp(16px, 1.25vw, 40px);
                height: clamp(16px, 1.25vw, 40px);
                object-fit: cover;
                path{
                    fill: $accent;
                }
            }
        }
    }

    .about-image {
        position: relative;
        img {
            height: 100%;
            object-fit: cover;
            border-radius: clamp(10px, 1.042vw, 30px);
        }
    }
}
