/*----------------------------------------*/
/*  Pagination CSS START
/*----------------------------------------*/
.pagination {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    display: flex;

    #border-pagination {
        display: flex;
        gap: clamp(16px, 1.25vw, 30px);
        margin: 0 auto;
        padding: 0;
        text-align: center;

        li {
            display: inline;

            a {
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23985A86FF' stroke-width='2' stroke-dasharray='6%2c 4' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
                background-color: $white;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $accent;
                width: clamp(28px, 2.917vw, 72px);
                height: clamp(28px, 2.917vw, 72px);
                float: left;    
                transition: $transition;
                font-size: clamp(13px, 0.833vw, 22px);
                font-weight: 400;
                line-height: 140%;

                svg {
                    width: clamp(16px, 1.667vw, 48px);
                    height: clamp(16px, 1.667vw, 48px);

                    path {
                        stroke: $accent;
                        transition: $transition;
                    }
                }

                &.active {
                    background-color: $accent;
                    color: $white;
                    svg {
                        path {
                            stroke: $white;
                            transition: $transition;
                        }
                    }
                }

                &:hover {
                    background-color: $accent;
                    color: $white;
                    svg {
                        path {
                            stroke: $white;
                            transition: $transition;
                        }
                    }
                }
            }
        }
    }
}